# Use a NumPy release compatible with TensorFlow 2.16.1
numpy==1.26.4

# Upgrade pandas so it can read your existing pickle
pandas==1.5.3

scikit-learn==0.24.2
pyzmq==22.0.3
tqdm==4.61.2
joblib==1.0.1
tensorflow==2.16.1
matplotlib==3.8.2
seaborn==0.13.2
